---
import DefaultLayout from "../layouts/DefaultLayout.astro";

const contactDetails = {
  name: "Καραδήμας",
  email: "info@ikaradimas.gr",
  phone: "210 9622589",
  address: {
    street: "Γούναρη 209",
    city: "Γλυφάδα",
    postalCode: "166 74"
  }
};

const operatingHours = [
  { days: "Δευτέρα - Τετάρτη - Σάββατο", hours: "09:00 - 14:00" },
  { days: "Τρίτη - Πέμπτη - Παρασκευή", hours: "09:00 - 14:00 & 17:30 - 20:00" }
];
---

<DefaultLayout title="Επικοινωνία">
  <section class="contact-form">
    <div class="container">
      <form
          action="https://formspree.io/f/xpwazzgb"
          method="POST"
          id="contact-form"
          name="contact"
          class="transform rounded-lg p-6 shadow-md transition-transform duration-300"
      >
        <div id="form-inputs">
          <input type="hidden" name="form-name" value="contact"/>
          <div class="hidden">
            <label for="person-title" class="dark:text-white">Title (leave this empty)</label>
            <input name="person-title" id="person-title" tabindex="-1" autocomplete="off"/>
          </div>
          <div>
            <label for="name" class="dark:text-white">Ονοματεπώνυμο</label>
            <input
                id="name"
                type="text"
                name="name"
                placeholder="Ονοματεπώνυμο"
                required
            />
          </div>
          <div>
            <label for="email" class="dark:text-white">Email</label>
            <input
                id="email"
                type="email"
                name="email"
                placeholder="Email"
                required
            />
          </div>
          <div>
            <label for="message" class="dark:text-white">Μήνυμα</label>
            <textarea id="message" name="message" placeholder="Μήνυμα" required></textarea>
          </div>
          <div>
            <label class="font-bold dark:text-white">
              <input class="rounded-sm" type="checkbox" name="terms" required/>
              <span>Έχω διαβάσει και αποδέχομαι την</span>
              <a href="/privacy" target="_blank" rel="noopener noreferrer">πολιτική απορρήτου</a>
            </label>
          </div>
          <div class="flex items-center justify-center">
            <button class="button" type="submit">Αποστολή</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <hr
      class="mx-auto my-4 h-1 w-48 rounded border-0 bg-gray-100 dark:bg-gray-700 md:my-10"
  />
  <section class="contact-details">
    <div class="mx-auto grid max-w-4xl grid-cols-1 gap-4 p-8 md:grid-cols-2">
      <div class="mb-4 pl-4 pr-4 md:mb-0 md:justify-self-start">
        <p class="text-2xl font-bold">{contactDetails.name}</p>
        <p class="text-lg font-bold">
          Email : <a href={`mailto:${contactDetails.email}`} class="green-text"
        ><span class="blockspam hidden" aria-hidden="true">Hello!</span>
          {contactDetails.email}</a
        >
        </p>
        <p class="text-lg font-bold">
          Τηλέφωνο : <a href={`tel:+30${contactDetails.phone}`} class="green-text">{contactDetails.phone}</a
        >
        </p>
        <p class="text-lg font-bold">{contactDetails.address.street}</p>
        <p class="text-lg font-bold">{contactDetails.address.city}</p>
        <p class="text-lg font-bold">{contactDetails.address.postalCode}</p>
      </div>
      <div class="pl-4 pr-4 md:justify-self-end">
        <p class="text-2xl font-bold">Ωράριο λειτουργίας</p>
        {operatingHours.map(({ days, hours }) => (
            <p class="text-lg font-bold">
              {days}: <br/><span class="green-text"
            >{hours}</span
            >
            </p>
        ))}
      </div>
    </div>
  </section>
  <hr
      class="mx-auto my-4 h-1 w-48 rounded border-0 bg-gray-100 dark:bg-gray-700 md:my-10"
  />
  <section class="map">
    <div
        class="mx-auto grid max-w-full grid-cols-1 items-center justify-center gap-4 p-8 md:grid-cols-1"
    >
      <div class="h-96 w-full md:max-h-[500px]">
        <iframe
            class="h-full w-full"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3149.6084353592214!2d23.76363397588796!3d37.869451471961625!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a195ded48e505d%3A0xf5cdce045bff24fa!2sIoannis%20Karadimas!5e0!3m2!1sen!2sgr!4v1705314547149!5m2!1sen!2sgr"
            style="border:0; -webkit-filter: grayscale(100%);
    filter: grayscale(100%);"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>
</DefaultLayout>

<style>
  .contact-form {
    margin-top: 20px;
  }

  .contact-form label {
    font-size: 0.875rem;
  }

  .contact-form input[type="text"],
  .contact-form input[type="email"],
  .contact-form textarea {
    border: 1px solid #ccc;
    border-radius: 0.375rem;
    padding: 0.5rem 0.75rem;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 1rem;
    outline: none;
    color: #000000;
  }

  .contact-form input[type="checkbox"] {
    margin-right: 0.375rem;
  }

  .green-text {
    color: #78bf3b;
  }

  @media (prefers-color-scheme: light) {
    .contact-form label {
      color: #4a4a4a;
    }
  }

  @media (prefers-color-scheme: dark) {
    .contact-form input[type="text"],
    .contact-form input[type="email"],
    .contact-form textarea {
      background-color: #ffffff;
      color: #000000;
    }
  }
</style>

<script>
  const hideInputsAndDisplayMessage = (
      form: HTMLElement | null,
      formInputs: HTMLElement | null
  ) => {
    if (!form || !formInputs) return;

    // Hide form inputs
    formInputs.style.display = "none";

    // Create and display the success message
    const successMessage = document.createElement("p");
    successMessage.textContent = "Το μήνυμά σας στάλθηκε με επιτυχία!";
    successMessage.classList.add(
        "text-center",
        "green-text",
        "text-xl",
        "animate-bounce"
    );

    // Append the success message to the form
    form.appendChild(successMessage);
  };

  document.querySelector("form")?.addEventListener("submit", (event: Event) => {
    handleSubmit(event);
  });

  const handleSubmit = (event: Event) => {
    event.preventDefault();

    const myForm = event.target as HTMLFormElement;
    const formData = new FormData(myForm);

    // Convert FormData to an object
    const formDataObj: Record<string, string> = {};
    formData.forEach((value, key) => {
      formDataObj[key] = value as string;
    });

    fetch("/", {
      method: "POST",
      headers: {"Content-Type": "application/x-www-form-urlencoded"},
      body: new URLSearchParams(formDataObj).toString(),
    })
        .then(() => console.log("Form successfully submitted"))
        .catch((error) => console.log(error));

    const form = document.getElementById("contact-form");
    const formInputs = document.getElementById("form-inputs");

    hideInputsAndDisplayMessage(form, formInputs);
  };
</script>