---
import DefaultLayout from "../layouts/DefaultLayout.astro";
import showroomImage from "../assets/img/showroom/showroom.avif";
import showroom2Image from "../assets/img/showroom/showroom-2.avif";
import showroom3Image from "../assets/img/showroom/showroom-3.avif";
import showroom4Image from "../assets/img/showroom/showroom-4.avif";
import showroom5Image from "../assets/img/showroom/showroom-5.avif";
---

<DefaultLayout title="Showroom" shouldHaveViewTransition={false}>
  <h1 class="mb-10 text-center">
    <slot>
      <span class="text-gradient">Showroom</span>
    </slot>
  </h1>
  <div class="flex w-full items-center justify-center">
    <div
      id="default-carousel"
      class="relative h-[800px] w-[1200px]"
      data-carousel="slide"
    >
      <!-- Carousel wrapper -->
      <div class="relative h-full overflow-hidden rounded-lg">
        <!-- Item 1 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src={showroomImage.src}
            class="absolute left-1/2 top-1/2 max-h-full max-w-full -translate-x-1/2 -translate-y-1/2 object-contain"
            alt="..."
          />
        </div>
        <!-- Item 2 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src={showroom2Image.src}
            class="absolute left-1/2 top-1/2 max-h-full max-w-full -translate-x-1/2 -translate-y-1/2 object-contain"
            alt="..."
          />
        </div>
        <!-- Item 3 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src={showroom3Image.src}
            class="absolute left-1/2 top-1/2 max-h-full max-w-full -translate-x-1/2 -translate-y-1/2 object-contain"
            alt="..."
          />
        </div>
        <!-- Item 4 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src={showroom4Image.src}
            class="absolute left-1/2 top-1/2 max-h-full max-w-full -translate-x-1/2 -translate-y-1/2 object-contain"
            alt="..."
          />
        </div>
        <!-- Item 5 -->
        <div class="hidden duration-700 ease-in-out" data-carousel-item>
          <img
            src={showroom5Image.src}
            class="absolute left-1/2 top-1/2 max-h-full max-w-full -translate-x-1/2 -translate-y-1/2 object-contain"
            alt="..."
          />
        </div>
      </div>
      <!-- Slider controls -->
      <button
        type="button"
        class="group absolute start-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center border-none px-4 focus:outline-none"
        data-carousel-prev
      >
        <span
          class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-black/30 group-hover:bg-black/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-black dark:bg-white/30 dark:group-hover:bg-white/60 dark:group-focus:ring-white/70"
        >
          <svg
            class="h-4 w-4 text-black dark:text-white rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="M5 1 1 5l4 4"></path>
          </svg>
          <span class="sr-only">Previous</span>
        </span>
      </button>

      <button
        type="button"
        class="group absolute end-0 top-0 z-30 flex h-full cursor-pointer items-center justify-center border-none px-4 focus:outline-none"
        data-carousel-next
      >
        <span
          class="inline-flex h-10 w-10 items-center justify-center rounded-full bg-black/30 group-hover:bg-black/50 group-focus:outline-none group-focus:ring-4 group-focus:ring-black dark:bg-white/30 dark:group-hover:bg-white/60 dark:group-focus:ring-white/70"
        >
          <svg
            class="h-4 w-4 text-black dark:text-white rtl:rotate-180"
            aria-hidden="true"
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 6 10"
          >
            <path
              stroke="currentColor"
              stroke-linecap="round"
              stroke-linejoin="round"
              stroke-width="2"
              d="m1 9 4-4-4-4"></path>
          </svg>
          <span class="sr-only">Next</span>
        </span>
      </button>
    </div>
  </div>
</DefaultLayout>

<style lang="scss">
  .text-gradient {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-500)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  :global(.darkmode .text-gradient) {
    background: linear-gradient(
      315deg,
      var(--primary-200) 25%,
      var(--secondary-400)
    );
    background-clip: border-box;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
