---
interface Props {
  url: string;
  img: string;
  title: string;
}

const { url, img, title } = Astro.props;
---

<div class="card group">
  <a
    href={url}
    class="card-link"
    aria-label={title}
    style="text-decoration: none;"
  >
    <div class="card-image">
      <img src={img} alt={title} />
      <div
        class="title-overlay absolute bottom-0 left-0 w-full bg-black bg-opacity-50 p-2 transition-opacity group-hover:bg-opacity-75"
      >
        <h2 class="title text-gradient truncate text-2xl font-bold">
          {title}
        </h2>
      </div>
    </div>
  </a>
</div>

<style is:global>
  .card {
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.3s;
    position: relative;
    height: 18rem;
    width: 24rem;
    overflow: hidden;
    border-radius: 0.5rem;
    display: inline-block;
  }

  .card-link {
    display: block;
    height: 100%;
    width: 100%;
    color: inherit;
  }

  body.darkmode .card,
  .darkmode .card {
    border: 2px solid white;
  }

  .card-image {
    width: 100%;
    height: 100%;
    position: relative;
  }

  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .title-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    transition: background-color 0.3s ease;
  }

  .title {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .group:hover .title-overlay {
    background-color: rgba(0, 0, 0, 0.75);
  }

  @media (max-width: 768px) {
    .card {
      margin: 0 1rem;
      width: calc(100% - 2rem);
    }
  }
</style>
